/Proyecto1_C1/nbproject/private/
/Proyecto1_C1/build/
/Tarea3/nbproject/private/
/Tarea3/build/
/Tarea3/dist/
/Proyecto1_C1/dist/
/Tarea4/nbproject/private/
/Tarea4/build/
/Tarea5/nbproject/private/
/Tarea5/build/
/Final_Compi1/nbproject/private/
/Final_Compi1/build/